body
{
    background-color:aqua;
    
}
body h1
{
    text-align: center;
    background-color:brown;
}
form table.midd
{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
}
body form.submit
{
    background-color: red;
}